---
import Layout from "../../layouts/Layout.astro";
import Socials from "../../components/Socials.astro";
const allPosts = await Astro.glob("./*.md");
allPosts.reverse();
const postList = allPosts.map((post, i, a) => {
    return {
        url: post.url,
        title: post.frontmatter.title,
        date: post.frontmatter.date,
        newYear:
            i > 0 &&
            new Date(post.frontmatter.date).getFullYear() !==
                new Date(a[i - 1].frontmatter.date).getFullYear(),
    };
});
---

<Layout title="Blog">
    <h1>Blog</h1>

    <ul class="posts">
        {
            postList.map((post) => (
                <li class={post.newYear ? 'ny' : 'x'}>
                    <a href={post.url}>
                        <span class="date">{post.date}</span>
                        <span class="title">{post.title}</span>
                    </a>
                </li>
            ))
        }
    </ul>

    <hr />

    <Socials />
</Layout>

<style>
    .posts {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 0.25rem;
        list-style: none;
    }
    .posts .ny {
        border-top: 1px solid;
        padding-top: .5rem;
        margin-top: .25rem;
    }
    .posts a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 0.5rem;
        font-weight: bold;
    }
    .title {
    }
    .date {
        color: var(--color-text);
        font-family: consolas, monospace;
        white-space: nowrap;
    }
    hr {
        margin: 2rem 0;
    }
</style>
