---
import Layout from "../layouts/Site.astro";
---

<Layout title="Feedback">
    <h1>Feedback</h1>

    <center>
    <p>Want to anonymously send me comments on my website, 
    my writing, climbing, dancing, communicating, or anything else?


    <p><a href="https://www.admonymous.co/jasonsackey">https://www.admonymous.co/jasonsackey</a>

    <br>
    <br>
    <br>
    <br>
    <p><img src="/images/feedbackqr.png" alt="qr code"/>


    </center>
</Layout>