---
import Layout from "../layouts/Site.astro";
import Socials from "../components/Socials.astro";
---

<Layout title="Jason Sackey">
	<header>
		<img
			src="/images/projection.jpg"
			alt="Jason's face"
			width="256"
			height="256"
			class="selfie"
		/>
		<div class="header-body">
			<h1>Jason Sackey</h1>
			<p>
				London-based software developer ▿ web, games, cutting-edge of
				tech, the history of computing, science fiction ▿ solving
				problems with simple design and clean code
			</p>
			<div class="socials-wrapper">
				<div class="">
					<Socials />
				</div>
			</div>
		</div>
	</header>
	

	<div class="container">
		<h2>Blog</h2>
		<p><a href="/blog">Writing about tech</a></p>
		<p>
			<b>Latest:</b>
			<a href="/blog/2024-10-14-migrating-from-wordpress-to-astro"
				>Migrating this site from WordPress to Astro</a
			>
		</p>

		<h2>Game prototypes</h2>

		<ul class="games">
			<li>
				<h3>
					<a href="https://sackeyjason.github.io/orbital/"
						><img
							src="/images/orbital.png"
							alt="tetrominoes curved around an arc"
						/> Orbital (WIP)</a
					>
				</h3>

				<p>
					Build a lovely space habitat in this tetromino-based
					action-puzzle game.
				</p>
				<li>
					<h3>
						<a href="https://github.com/sackeyjason/bankoso/"
							><img
								src="/images/bankoso.png"
								alt="4 screenshots"
							/> Bankoso</a>
					</h3>

					<p>
						Sokoban-like puzzle game. Push blocks around. Unlike in
						the original, here you can shove multiple blocks
						simultaneously.
					</p>
				</li>
			</li>
		</ul>

		<style>
			body {
				margin: 0;
			}
			header {
				display: flex;
				box-shadow: 0 0 8px 8px rgba(255, 0, 255, 0.236);
			}
			.selfie {
				aspect-ratio: 1;
				align-self: flex-start;
				max-width: 30%;
			}
			.header-body {
				margin: 1rem;
				display: flex;
				flex-direction: column;
				gap: 1rem;
				justify-content: center;
			}
			.header-body > * {
				margin: 0;
			}
			.socials-wrapper {
				align-self: flex-start;
				border: 1px solid hotpink;
				border-left: none;
				border-right: none;
				padding: 1rem 0;
			}

			.container {
				margin: 0;
				padding: 0 1rem;
				max-width: 740px;
			}
			.games {
				margin: 1rem 0;
				padding: 0 0 0 0.5rem;
				display: grid;
				gap: 1rem;
				grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
			}
			.games li {
				overflow: hidden;
				padding: 1rem;
				border: 1px solid;
				border-radius: 8px;
			}
			.games img {
				float: left;
				width: 128px;
				margin: 0 0.5rem 0.5rem 0;
			}
		</style>
	</div></Layout
>
