<header>
	<a href="/" class="logoLink">
		<span class="logo"> JS </span>
	</a>
</header>

<style>
    .logoLink {
		display: grid;
		place-items: center;
		height: 64px;
		width: 48px;
		background-image: none, url(/images/projection.jpg), none;
		background-size: cover;
		color: white;
		text-decoration: none;
		font-weight: bold;
	}
</style>