---
const allPosts = await Astro.glob("../pages/blog/*.md");
allPosts.reverse();
const postList = allPosts
    .map((post) => {
        return {
            url: post.url,
            title: post.frontmatter.title,
            date: post.frontmatter.date,
        };
    })
    .slice(0, 3);
---

<ul class="posts">
    {
        postList.map((post) => (
            <li>
                <a href={post.url}>{post.title}</a>
            </li>
        ))
    }
</ul>
