<div class="socials">
    <a href="https://x.com/jsonsackey" target="_blank">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="25"
            version="1.1"
            viewBox="0 0 300 300"
        >
            <path
                fill="currentColor"
                d="M178.57 127.15 290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59h89.34M36.01 19.54H76.66l187.13 262.13h-40.66"
            ></path>
        </svg>
    </a>

    <a href="https://bsky.app/profile/jsonsackey.bsky.social" target="_blank">
        <svg
            viewBox="0 0 64 57"
            width="28"
            style="width: 28px; height: 24.9375px;"
            ><path
                fill="currentColor"
                d="M13.873 3.805C21.21 9.332 29.103 20.537 32 26.55v15.882c0-.338-.13.044-.41.867-1.512 4.456-7.418 21.847-20.923 7.944-7.111-7.32-3.819-14.64 9.125-16.85-7.405 1.264-15.73-.825-18.014-9.015C1.12 23.022 0 8.51 0 6.55 0-3.268 8.579-.182 13.873 3.805ZM50.127 3.805C42.79 9.332 34.897 20.537 32 26.55v15.882c0-.338.13.044.41.867 1.512 4.456 7.418 21.847 20.923 7.944 7.111-7.32 3.819-14.64-9.125-16.85 7.405 1.264 15.73-.825 18.014-9.015C62.88 23.022 64 8.51 64 6.55c0-9.818-8.578-6.732-13.873-2.745Z"
            ></path></svg
        >
    </a>

    <a href="https://github.com/sackeyjason" target="_blank">
        <svg
            height="28"
            viewBox="0 0 24 24"
            version="1.1"
            width="28"
            fill="currentColor"
        >
            <path
                d="M12.5.75C6.146.75 1 5.896 1 12.25c0 5.089 3.292 9.387 7.863 10.91.575.101.79-.244.79-.546 0-.273-.014-1.178-.014-2.142-2.889.532-3.636-.704-3.866-1.35-.13-.331-.69-1.352-1.18-1.625-.402-.216-.977-.748-.014-.762.906-.014 1.553.834 1.769 1.179 1.035 1.74 2.688 1.25 3.349.948.1-.747.402-1.25.733-1.538-2.559-.287-5.232-1.279-5.232-5.678 0-1.25.445-2.285 1.178-3.09-.115-.288-.517-1.467.115-3.048 0 0 .963-.302 3.163 1.179.92-.259 1.897-.388 2.875-.388.977 0 1.955.13 2.875.388 2.2-1.495 3.162-1.179 3.162-1.179.633 1.581.23 2.76.115 3.048.733.805 1.179 1.825 1.179 3.09 0 4.413-2.688 5.39-5.247 5.678.417.36.776 1.05.776 2.128 0 1.538-.014 2.774-.014 3.162 0 .302.216.662.79.547C20.709 21.637 24 17.324 24 12.25 24 5.896 18.854.75 12.5.75Z"
            ></path>
        </svg>
    </a>

    <a href="https://www.instagram.com/jsonsackey/" target="_blank">
        <svg
            class="svg-icon"
            viewBox="0 0 1024 1024"
            width="28"
            height="28"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            ><path
                d="M512 85.333333c-115.882667 0-130.389333 0.512-175.914667 2.56-45.397333 2.090667-76.416 9.301333-103.552 19.84a209.109333 209.109333 0 0 0-75.605333 49.194667A209.152 209.152 0 0 0 107.733333 232.533333c-10.538667 27.136-17.749333 58.154667-19.84 103.552C85.802667 381.610667 85.333333 396.117333 85.333333 512s0.469333 130.389333 2.56 175.914667c2.090667 45.397333 9.301333 76.416 19.84 103.552a209.194667 209.194667 0 0 0 49.194667 75.605333 209.194667 209.194667 0 0 0 75.605333 49.194667c27.136 10.538667 58.154667 17.749333 103.552 19.84 45.525333 2.048 60.032 2.56 175.914667 2.56s130.389333-0.512 175.914667-2.56c45.397333-2.090667 76.416-9.301333 103.552-19.84a209.152 209.152 0 0 0 75.605333-49.194667 209.152 209.152 0 0 0 49.194667-75.605333c10.538667-27.136 17.749333-58.154667 19.84-103.552 2.048-45.525333 2.56-60.032 2.56-175.914667s-0.512-130.389333-2.56-175.914667c-2.090667-45.397333-9.301333-76.416-19.84-103.552a209.152 209.152 0 0 0-49.194667-75.605333 209.109333 209.109333 0 0 0-75.605333-49.194667c-27.136-10.538667-58.154667-17.749333-103.552-19.84C642.389333 85.845333 627.882667 85.333333 512 85.333333m0 76.885334c113.92 0 127.402667 0.426667 172.373333 2.474666 41.642667 1.92 64.213333 8.832 79.274667 14.677334 19.882667 7.765333 34.133333 17.024 49.066667 31.914666 14.933333 14.933333 24.149333 29.184 31.914666 49.066667 5.802667 15.061333 12.8 37.632 14.677334 79.232 2.048 45.013333 2.474667 58.453333 2.474666 172.416 0 113.92-0.426667 127.402667-2.474666 172.373333-1.92 41.642667-8.874667 64.213333-14.677334 79.274667a132.266667 132.266667 0 0 1-31.914666 49.066667c-14.933333 14.933333-29.184 24.149333-49.066667 31.914666-15.061333 5.802667-37.632 12.8-79.232 14.677334-44.970667 2.048-58.453333 2.474667-172.416 2.474666-113.92 0-127.445333-0.426667-172.373333-2.474666-41.642667-1.92-64.213333-8.874667-79.274667-14.677334a132.181333 132.181333 0 0 1-49.066667-31.914666 132.181333 132.181333 0 0 1-31.914666-49.066667c-5.845333-15.061333-12.8-37.632-14.677334-79.232-2.048-45.013333-2.474667-58.453333-2.474666-172.416 0-113.92 0.426667-127.402667 2.474666-172.373333 1.92-41.642667 8.832-64.213333 14.677334-79.274667 7.765333-19.882667 17.024-34.133333 31.914666-49.066667 14.933333-14.933333 29.184-24.149333 49.066667-31.914666 15.061333-5.845333 37.632-12.8 79.232-14.677334 45.013333-2.048 58.453333-2.474667 172.416-2.474666m0 491.989333a142.208 142.208 0 1 1 0-284.416 142.208 142.208 0 0 1 0 284.416m0-361.301333a219.093333 219.093333 0 1 0 0 438.186666 219.093333 219.093333 0 0 0 0-438.186666m278.954667-8.661334a51.2 51.2 0 1 1-102.4 0 51.2 51.2 0 0 1 102.4 0"
                fill="currentColor"></path></svg
        >
    </a>

    <a
        href="https://www.linkedin.com/in/jason-sackey-8998aa5a/"
        target="_blank"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            height="28"
            viewBox="0 0 72 72"
            width="24"
            ><g fill="none" fill-rule="evenodd"
                ><path
                    d="M8,72 L64,72 C68.418278,72 72,68.418278 72,64 L72,8 C72,3.581722 68.418278,-8.11624501e-16 64,0 L8,0 C3.581722,8.11624501e-16 -5.41083001e-16,3.581722 0,8 L0,64 C5.41083001e-16,68.418278 3.581722,72 8,72 Z"
                    fill="currentColor"></path><path
                    d="M62,62 L51.315625,62 L51.315625,43.8021149 C51.315625,38.8127542 49.4197917,36.0245323 45.4707031,36.0245323 C41.1746094,36.0245323 38.9300781,38.9261103 38.9300781,43.8021149 L38.9300781,62 L28.6333333,62 L28.6333333,27.3333333 L38.9300781,27.3333333 L38.9300781,32.0029283 C38.9300781,32.0029283 42.0260417,26.2742151 49.3825521,26.2742151 C56.7356771,26.2742151 62,30.7644705 62,40.051212 L62,62 Z M16.349349,22.7940133 C12.8420573,22.7940133 10,19.9296567 10,16.3970067 C10,12.8643566 12.8420573,10 16.349349,10 C19.8566406,10 22.6970052,12.8643566 22.6970052,16.3970067 C22.6970052,19.9296567 19.8566406,22.7940133 16.349349,22.7940133 Z M11.0325521,62 L21.769401,62 L21.769401,27.3333333 L11.0325521,27.3333333 L11.0325521,62 Z"
                    fill="#000"></path></g
            ></svg
        >
    </a>
</div>

<style>
    .socials {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    a {
        text-decoration: none;
    }
</style>
