---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark-theme">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	<style is:global>
		* {
			box-sizing: border-box;
		}
		:root {
			--mix: 0%;
			font-family: system-ui, sans-serif;
			line-height: 1.4;
			overflow-y: scroll;
			--color-bg: black;
			--color-text: white;
			--color-primary: hotpink;
			--color-primary: color-mix(in hsl, hotpink, lime var(--mix));
			--color-secondary: gold;
			background: var(--color-bg);
			color: var(--color-text);
			animation: mixAlternate linear 8s alternate infinite;
		}
		@property --mix {
			syntax: "<percentage>";
			inherits: true;
			initial-value: 0%;
		}
		@keyframes mixAlternate {
			to {
				--mix: 100%;
			}
		}
		/* .dark-theme {
			--color-bg: black;
			--color-text: white;
			--color-primary: hotpink;
			--color-secondary: gold;
		}
		.light-theme {
			--color-bg: white;
			--color-text: #444;
			--color-primary: blue;
			--color-secondary: tomato;
		} */
		body {
			margin: 0;
			min-height: 100vh;
		}
		img {
			vertical-align: middle;
			max-width: 100%;
			height: auto;
		}
		a {
			color: var(--color-primary);
		}
		a:focus,
		a:hover {
			color: var(--color-secondary);
		}
		ul[class] {
			padding: 0;
			li {
				list-style: none;
			}
		}
	</style>
</html>